.btn
    border-radius: .75rem
    font-size: .875rem
    padding: 1rem 3rem
    font-weight: 700
    color: $white

.btn-green
    background-color: $green

    &:hover
        background-color: $green-400 !important

        .hero-home &
            background-color: $green-100 !important

.btn-purple
    background-color: $purple

    &:hover
        background-color: $purple-400 !important

.btn-red
    background-color: $red

    &:hover
        background-color: $red-400 !important

.navbar-toggler-green
    border-color: $green-400

    > svg
        fill: $green

.navbar-toggler-purple
    border-color: $purple-400

    > svg
        fill: $purple

.navbar-toggler-red
    border-color: $red-400

    > svg
        fill: $red

.offcanvas-btn-green
    background: $green-100
    color: $green

    &:hover,
    &.active
        background: $green-400

.offcanvas-btn-red
    background: $red-100
    color: $red

    &:hover,
    &.active
        background: $red-400

.offcanvas-btn-purple
    background: $purple-100
    color: $purple

    &:hover,
    &.active
        background: $purple-400
