.navbar
    background: rgba(255,255,255,.8)
    backdrop-filter: blur(13px)

    @include media-breakpoint-down(lg)
        background: rgba(255,255,255,.925)
        backdrop-filter: none

.navbar-nav
    .nav-link
        position: relative
        color: $dark

        @include media-breakpoint-down(lg)
            color: $white

        &:hover
            color: $gray-800
            text-decoration: underline

            @include media-breakpoint-down(lg)
                color: $white

        &.active
            @include media-breakpoint-down(lg)
                color: $white
                text-decoration: underline

            &::after
                content: ''
                display: block
                position: absolute
                bottom: 0
                left: 3rem
                right: 3rem
                height: 2px
                border-radius: 2px

                @include media-breakpoint-down(lg)
                    display: none

header
    .navbar-nav
        .nav-link
            &:hover
                text-decoration: none

                &::after
                    content: ''
                    display: block
                    position: absolute
                    bottom: 0
                    left: 3rem
                    right: 3rem
                    height: 2px
                    border-radius: 2px

            @include media-breakpoint-down(lg)
                font-weight: normal !important

                &.active
                    font-weight: bold !important

footer
    .navbar-nav
        .nav-link
            color: $white

            &:hover
                color: $gray-300

            &:active, &:focus
                color: $white

.green
    .nav-link
        &.active
            &::after
                background: $green-400

        &:hover
            &::after
                background: $green-500

.purple
    .nav-link
        &.active
            &::after
                background: $purple-400

        &:hover
            &::after
                background: $purple-500

.red
    .nav-link
        &.active
            &::after
                background: $red-400

        &:hover
            &::after
                background: $red-500
